/* using bootstrap but here are some sweet colors 
dark sea green (163, 184, 151);
turkish rose 
indgo
pastel (181, 168, 224)
second light blue rgb (87, 135, 181)
ash grey rgb(149,149,149) */


/* style for main content */

h1 {
  color: rgb(255, 255, 255);
  font-family: "Montserrat", sans-serif;
}

p {
  color: rgb(255, 255, 255);
  font-family: "Montserrat", sans-serif;
}

body {
  background-color: rgb(67, 103, 153);
}

img {
  width: 100%;
  border: none;
}

button {
  background-color: transparent;
 margin-left: 40%;
}
