/* using bootstrap but here are some sweet colors 
dark sea green (163, 184, 151);
turkish rose 
indgo
pastel (181, 168, 224)
second light blue rgb (87, 135, 181)
ash grey rgb(149,149,149) */


/* style for main content */


h1, p {
  color: rgb(255, 255, 255);  
  font-family: "Montserrat", sans-serif;
  z-index: 100;
}



.my-container {
  background-color: rgb(241, 133, 9);
}
/* 
img {
  width: 100%;
  border: none;
} */

.btn  {
background-color: Transparent;
 margin-left: 40%;
 border-radius: 4px;
 float:right;
 border: none;
 color: rgb(255,255,255);
}

.intro {
  float: left;
}
